{{> title-section}}

<section>
	<div class="img-container">
		<img src="/images/accessibility.gif" alt="Accessibility">
	</div>
	<div class="text-container">
		<h1>accessibility.</h1>
		<p class="pink-back">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
Turpis egestas sed tempus urna et pharetra pharetra massa. Est ante in nibh mauris cursus mattis molestie a. </p>
		<a class="btn pink-back" href="<!--Insert Link-->" rel="noreferrer noopener">Syllabus</a>
	</div>
</section>

<section class="table-container">
	<table class="topics-table">
		<tr>
			<th>week</th>
			<th>date</th>
			<th>topic</th>
			<th>lab</th>
			<th>webcast</th>
		</tr>
		{{#each topics}}
		<tr>
			<td>{{add @index 1}}</td>
			<td>{{this.date}}</td>
			<td>{{this.title}}</td>
			<td>{{this.lab}}</td>
			<td>{{this.webcast}}</td>
		</tr>
		{{/each}}
	</table>
</section>
