{{> title-section}}

<section>
	<div class="img-container">
		<img src="/images/accessibility.png" alt="Accessibility">
	</div>
	<div class="text-container">
		<h1>accessibility.</h1>
		<p class="pink-back">In our Education Committee, we aim for students to develop a solid data science foundation in a unique and engaging way. We achieve this by applying our lectures and take-home lab assignments to current socioeconomic issues and initiatives. Our topics range from Modeling and Estimation in the COVID-19 pandemic to language modeling in racial equity and deep learning in MRI image modeling. These build up to the students showcasing their knowledge by attending Datathons and end of semester projects. Check out our syllabus and resources below! </p>
		<a class="btn pink-back" href="<!--Insert Link-->" rel="noreferrer noopener">Syllabus</a>
	</div>
</section>

<section class="table-container">
	<table class="topics-table">
		<tr>
			<th>week</th>
			<th>date</th>
			<th>topic</th>
			<th>lab</th>
			<th>webcast</th>
		</tr>
		{{#each topics}}
		<tr>
			<td>{{add @index 1}}</td>
			<td>{{this.date}}</td>
			<td>{{this.title}}</td>
			<td>{{this.lab}}</td>
			<td>{{this.webcast}}</td>
		</tr>
		{{/each}}
	</table>
</section>
