{{> title-section}}

<section class="left-enter">
	<div class="img-container hover">
		<img src="/images/pages/accessibility.webp" alt="Accessibility">
	</div>
	<div class="text-container">
		<h1 class="pink-back">accessibility.</h1>
		<p>In our Education Committee, we aim for students to develop a solid data science foundation in a unique and engaging way. We achieve this by applying our lectures and take-home lab assignments to current socioeconomic issues and initiatives. Our topics range from Modeling and Estimation in the COVID-19 pandemic to language modeling in racial equity and deep learning in MRI image modeling. These build up to the students showcasing their knowledge by attending Datathons and end of semester projects. Check out our syllabus and resources below! </p>
		<a class="btn pink-back" href="https://docs.google.com/document/d/1OZaQBe_8pNyM9RhCHe2hrUbyCth-nOABX2WbeYRNSwY/edit?usp=sharing" rel="noreferrer noopener">Syllabus</a>
	</div>
</section>

<section class="table-container alone">
	<table class="topics-table">
		<tr>
			<th>week</th>
			<th class="date">date</th>
			<th>topic</th>
			<th>lab</th>
			<th>webcast</th>
		</tr>
		{{#each topics}}
		<tr>
			<td>{{add @index 1}}</td>
			<td>{{this.date}}</td>
			<td>{{this.title}}</td>
			<td>
				{{#if this.lab}}
					<a href="{{this.lab.link}}" target="_blank"  rel="noreferrer noopener">{{this.lab.title}}</a>
				{{/if}}
			</td>
			<td>
				{{#if this.webcast}}
					<a href="{{this.webcast.link}}" target="_blank"  rel="noreferrer noopener">{{this.webcast.title}}</a>
				{{/if}}
			</td>
		</tr>
		{{/each}}
	</table>
</section>
