{{> title-section}}

<section>
	<div class="text-container">
		<h1>impact driven.</h1>
		<p class="yellow-back">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor ncididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi. 
Turpis egestas sed tempus urna et pharetra pharetra massa. Est ante in nibh mauris cursus mattis molestie a. </p>
	</div>
	<div class="img-container">
		<img src="/images/impact-driven.png">
	</div>	
</section>

<section class="project-gallery">
	{{#each projects}}
	<a class="card {{color}}-back" href="{{link}}" rel="noreferrer noopener">
		<div class="project-description">
			<h2>{{title}}</h2>
			<div class="description">{{description}}</div>			
		</div>
		<img src="{{image}}" alt="{{title}}">
	</a>
	{{/each}}
</section>