{{> title-section}}

<section class="alone">
	<div class="img-container">
		<img src="/images/team/team.webp" alt="DataGood team">
	</div>
</section>

<section class="right-enter">
	<div class="text-container">
		<h1 class="green-back">members.</h1>
		<p> Meet the team and the driving force behind DataGood @ Berkeley! If you have any questions about DataGood or any of the specific roles, please don't hesitate to contact any of the members below. Coffee chat a member by clicking on the coffee icon in the top right corner!</p>
	</div>
	<div class="img-container hover">
		<img src="/images/pages/executives.png" alt="Executives">
	</div>
</section>

<section class="member-gallery alone">
	{{#each members}}
		<div class="card">
			<div class="card-top">
				<div class="img-container rounded">
					<img src="{{image}}" alt="{{name}}">
				</div>
				<div class="position">{{position}}</div>
				<div class="name">{{name}}</div>
				{{#if socials.coffee}}
					<a class="coffee" href="{{socials.coffee}}" target="_blank" rel="noreferrer noopener"><img src="/images/coffee-cup.png"></a>
				{{/if}}
				<div class="social-links">
					{{#if socials.linkedin}}
						<a class="social linkedin" href="{{socials.linkedin}}" target="_blank" rel="noreferrer noopener"></a>
					{{/if}}
				</div>
			</div>
			{{!-- <div class="card-bot">
				<div class="content-bot">
					{{#if year}}
						<div class="year">Year: {{year}}</div>
					{{/if}}
					{{#if majors}}
						<div class="majors">Major(s): {{majors}}</div>
					{{/if}}
					{{#if interests}}
						<div class="interests">Social Good interests: {{interests}}</div>
					{{/if}}
					{{#if hobbies}}
						<div class="hobbies">Hobbies: {{hobbies}}</div>
					{{/if}}
					{{#if fun_fact}}
						<div class="fun_fact">Fun fact: {{fun_fact}}</div>
					{{/if}}
					{{#if project_title}}
						<div class="project_title">Project title: {{project_title}}</div>
					{{/if}}
					{{#if project_description}}
						<div class="project_description">Project description: {{project_description}}</div>
					{{/if}}
					{{#if description}}
						<div class="description">{{description}}</div>
					{{/if}}
				</div>
			</div> --}}
		</div>
	{{/each}}
</section>
