{{> title-section}}

<section class="values-section alone">
  <div class="text-container">
    <p>{{values.text}}</p>

    {{#if values.highlights}}
      <div class="stats-grid">
        {{#each values.highlights}}
          <div class="tile">
            <div class="large-text">{{this.title}}</div>
            <div class="description-text">{{this.description}}</div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</section>

<section class="careers-section">
  <div class="text-container">
    <p>{{values.careers}}</p>
    <p>{{values.careersdesc}}</p>
  </div>
</section>

<section class="careers-section">
  <div class="careers-container">
    <img src="/images/whereweendup.webp" alt="Where We End Up">
  </div>
</section>
