<footer>
	<div class="right">
		<a class="logos" href="/">
			<img src="{{config.logo}}" alt="<3">
			<div class="org">
				<div class="name">{{config.name}}</div>
				<div class="tagline">{{config.tagline}}</div>
			</div>
		</a>
		<div class="ocf-hosting">
			<a href="https://www.ocf.berkeley.edu" target="_blank" rel="noreferrer noopener">
				<img src="/images/ocf-hosted-penguin.svg" alt="Hosted by the OCF" style="border: 0;" />
			</a>
		</div>
	</div>
	<div class="left">
		<div class="socials">
			<h3>socials</h3>
			<div class="links">
				{{#each config.socials}}
				<a href="{{link}}" target="_blank" rel="noreferrer noopener">
					<img src="{{logo}}" link-name="{{name}}" alt="{{name}}">
				</a>
				{{/each}}
			</div>
		</div>
		<div class="contact">
			<h3>contact us</h3>
			<a class="info" href="mailto:{{config.email}}"> {{config.email}} </a>
			<div class="copyright">{{config.copyright}}</div>
		</div>
	</div>
</footer>
