<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{config.title}}</title>
	<meta charset="utf-8">
	<meta name="description" content="{{config.tagline}}">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2.0">
	<meta property="og:title" content="{{config.title}}">
	<meta property="og:description" content="{{config.tagline}}">
	<meta property="og:image" content="https://datagood.vercel.app/images/heart-thumbnail.png">
	<meta property="og:url" content="https://datagood.vercel.app">
	<meta name="twitter:card" content="summary_large_image">	
	<link rel="stylesheet" type="text/css" href="/css/all.css">
	<link rel="icon" type="image/png" href="/images/heart-logo.png">
</head>
<body>
	{{> header}}
	<div class="content">
		{{{ body }}}
	</div>
	{{> footer}}
	<script src="/scripts/all.js"></script>
</body>
</html>